@import 'assets/stylesheets/base';


// Common Helper css
// -------------
.clearfix { @include clearfix(); }
.hide-text { @include hide-text(); }
.input-block-level { @include input-block-level(); }


body {
  font-family:  'arial', 'verdana';
  font-size:    12px;
  color:        $color-regular-text;

  h1 {
    font-family: 'Tahoma', 'arial', 'verdana';
    color:        $color-regular-heading;
  }

  .simple-view {
    position: relative;
    width:    480px;
    margin:   50px auto;
    overflow: hidden;

    img {
      float: left;
      margin-right: 30px;
    }

    p {
      margin:     0 5px;
      font-size:  16px;
      display:    inline-block;
    }
  }
}